In [17]:
import glob
import os

from ficus import FigureManager
import pandas as pd
import seaborn as sns

In [3]:
!ls ../results/chap1

cdbg-stream		   SAMEA4064425.1.curl.txt  SAMN04126864.2.curl.txt
SAMEA104703328.1.curl.txt  SAMEA4064425.2.curl.txt  SAMN10520155.1.curl.txt
SAMEA104703328.2.curl.txt  SAMEA4774291.1.curl.txt  SAMN10520155.2.curl.txt
SAMEA3176945.1.curl.txt    SAMEA4774291.2.curl.txt  SAMN10537738.1.curl.txt
SAMEA3176945.2.curl.txt    SAMN04088456.1.curl.txt  SAMN10537738.2.curl.txt
SAMEA3894957.1.curl.txt    SAMN04088456.2.curl.txt
SAMEA3894957.2.curl.txt    SAMN04126864.1.curl.txt

In [6]:
files = sorted(glob.glob('../results/chap1/SAM*.curl.txt'))

In [15]:
stream_df = []
for path in files:
    filename = os.path.basename(path)
    accession, fragment, _, _ = filename.split('.')
    df = pd.read_table(path, delim_whitespace=True, names=['elapsed_s', 'bytes_read'])
    df['accession'] = accession
    df['fragment'] = fragment
    stream_df.append(df)
stream_df = pd.concat(stream_df)

In [16]:
stream_df

      elapsed_s  bytes_read       accession fragment
0        6.6650       81920  SAMEA104703328        1
1        6.8120       90112  SAMEA104703328        1
2        7.6658      524288  SAMEA104703328        1
3        8.6681     1163264  SAMEA104703328        1
4        9.6757     1777664  SAMEA104703328        1
...         ...         ...             ...      ...
6729  6743.9670  4449329152    SAMN10537738        2
6730  6744.9688  4450189312    SAMN10537738        2
6731  6745.9709  4451024896    SAMN10537738        2
6732  6746.9665  4451852288    SAMN10537738        2
6733  6747.7525  4452406636    SAMN10537738        2

[44658 rows x 4 columns]